// ========== footer ========== //
.footer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2.5rem 0 1.5rem 0;
  background-color: #fff;
}

.social {
  text-align: center;
  vertical-align: text-bottom;
  .iconfont-archer {
    position: relative;
  }
  @include social($scaleSize: 0.8, $spanMargin: 0.5rem);
}

// ========== copyright ========== //≈
.copyright {
  font-family: $feature-font-family;
  margin: 0.5rem auto;
  text-align: center;
  color: $social-iconfont-color;
  a {
    color: $feature-color;
  }
}

.power {
  position: relative;
  vertical-align: baseline;
  font-size: 1rem;
  padding: 0 0.2rem;
}

// ========== busuanzi ========== //≈
.busuanzi-container {
  text-align: center;
  font-size: 14px;    /* 字体大小 */
}

#busuanzi_container_site_pv,
#busuanzi_container_site_uv {
  display: block;
  text-align: center;
  font: 0.6rem $feature-font-family;
  color: #ddd;
  font-size: 14px;    /* 字体大小 */
}
// =========== icp ============= //≈
.footer .icp-record {
    text-align: center; /* 居中对齐 */
    margin-top: 10px;   /* 增加与其他部分的间距 */
    font-size: 14px;    /* 字体大小 */
    color: #b0b0b0;     /* 浅灰色 */
}
.footer .icp-record a {
    text-decoration: none; /* 去除下划线 */
    color: #b0b0b0;        /* 链接颜色与文字保持一致 */
}
.footer .icp-record a:hover {
    color: #808080;        /* 鼠标悬浮时变为更深的灰色 */
}
